@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&display=swap");

:root {
  --beige: #f5f5dc;
}

html {
  scroll-behavior: smooth;
}

.section-title {
  @apply text-2xl font-bold border-b-4 border-yellow-400 pb-2 mb-4 text-center sm:text-left;
}

.section-text {
  @apply text-lg leading-relaxed text-gray-700;
}

.font-barlowCondensed {
  font-family: "Barlow Condensed", sans-serif;
}
